/.idea
/result/manifest.json
/result/i128.png
dirty.pack.user.old.js
/.settings/
/.*
/local
/result/dev.d3.user.js
/extensions/chrome/dirtymsp.pem
/extensions/chrome/dirtymsp/d3.user.js
/extensions/firefox/dirtymsp/data/d3.user.js
